pkgbase = nx
	pkgdesc = A next generation build system with monorepo support and powerful integrations.
	pkgver = 15.0.4
	pkgrel = 1
	url = https://blog.nrwl.io/nx/home
	arch = any
	license = MIT
	makedepends = jq
	makedepends = npm
	depends = nodejs
	noextract = nx-15.0.4.tgz
	source = https://registry.npmjs.org/nx/-/nx-15.0.4.tgz
	sha512sums = b420a2549802897fd1db394bef7750b18e3d03147f700d1d1d7efae0abcb588bc1d263bc65bed4580c1bf2c7486e8a770eab460a8a514ec01d3817195db7bff4

pkgname = nx
